// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;
$blue:                  #3EB6AC;
$gray-background:       #484a48;

$black:               #1d1f20;
$blue:                #3eb6ac;
$grey-background:     #484a48;
